<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tree Control Example</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>

<body ng-app="hTreeUI" ng-controller="myCtrl">
    <ul id="modelul" id="tree">
        <li ng-repeat="model in dataForTheTree">{{ model.name }}
            <ul ng-if="model.tables">
                <li ng-repeat="table in model.tables"> <span ng-class="table.arrow" ng-init="table.arrow='fa fa-chevron-circle-right'" ng-click="toggleTableSelection(table)"></span>
                    <input type="checkbox" id="table.name" ng-click="toggleSelectAll(table)" ng-init="table.selectAll='false'">
                    <label for="table.name">{{ table.name }} {{table.selected}}</label>
                    <ul ng-if="table.columns">
                        <li ng-repeat="column in table.columns" ng-style="{'display': table.collapsed}" ng-init="table.collapsed='none'">
                            <input type="checkbox" id="column" checklist-model="table.selected" checklist-value="column">
                            <label for="column">{{ column }}</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>